<!DOCTYPE html>
<html>
	<head>
		<title>MIT ASA Trivia Game 2017</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      	<link rel = "stylesheet" rel="stylesheet" 
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/static/home_styles.css">
		<script 
   			src="https://code.jquery.com/jquery-3.2.1.min.js"
  			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 			 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
	</head>
	<body>
		<div id="welcome_card"></div>
		<script src="/closure/goog/base.js"></script>
		<script src="/js/module_tools.js"></script>
		<script src="/js/home_init.js"></script>
		<script src="/js/home_widget.js"></script>
		<noscript><h4>Your browser does not support javascript. Please activate javascript to be able to access our website</h4></noscript>
	</body>
</html>
