body {
	text-align: center;
	margin: auto;
	max-width: 90%;
}
img.user-image {
	max-width: 50px;
	max-height: 50px;
}
div.name-holder {
	margin-top: 0px;
}
a.logout-button {
	display: block;
	max-width: 100px;
	margin: auto;
}
div.user-holder.z-depth-1{
	max-width: 30%;
	margin-right: 0px;
	float: right;
	padding: 10px;
}

p.instructions {
	font-size: 20px;
	margin-bottom: 20px;

}
div.options_holder {
	min-height: 100px;
	padding: 10px;
}
input.answer_option {
	opacity: 100;
	display: block;
	background-color: red;
}
#submit_button {
	margin-top: 30px;

}

#quizHolder {
	padding: 5px;
	min-height: 200px;
}
#question_gadget {
	margin-bottom: 5px;
}