body {
	text-align: center;
	margin: auto;
	max-width: 90%;
}

img.user-image {
	max-width: 50px;
	max-height: 50px;
}
div.name-holder {
	margin-top: 0px;
}
#user_data {
	z-index: 10;
}
a.logout-button {
	display: block;
	max-width: 100px;
	margin: auto;
}
div.user-holder.z-depth-1{
	max-width: 30%;
	margin-right: 0px;
	float: right;
	padding: 10px;
}

p.instructions {
	font-size: 20px;
	margin-bottom: 20px;

}
div.options_holder {
	min-height: 100px;
	padding: 10px;
	text-align: left;
	margin-left: 35%;
	margin-right: 30%;
}
input.answer_option {
	opacity: 100;
	display: block;
	background-color: red;
}

#instructions {
	background: rgba(51, 122, 183, 0.4); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(51, 122, 183, 0.4), white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(51, 122, 183, 0.4), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(51, 122, 183, 0.4), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(51, 122, 183, 0.4), white); /* Standard syntax */
	min-height: 50px;
	padding: 10px;
}
#submit_button {
	margin-top: 30px;

}

#quizHolder {
	padding: 5px;
	min-height: 200px;
}
#question_gadget {
	margin-bottom: 5px;
	text-align: left;
}
.toasty {
	display: block;
}